body{
    font-family: "fira-sans", "San Francisco", "Segoe UI", sans-serif;
    background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar{
    display: flex;
color: white;
    } 
.navbar ul{
    display: flex;
    list-style-type: none;
    color: white;
    font-weight: bold;
    justify-content: space-around;
}
.navbar li{
    padding-left: 20px;
    color: white;
    justify-content: space-between;
}
.navbar li a{
    color: white;
}
.btn-nav{
    background-color: rgb(233, 233, 51);
    color: black;
    width: 200px;
    height: 50px;
    font-weight: bolder;
    border-radius: 11px;
  
}
.left-side{
    display: flex;  
    padding-left: 600px;
    justify-content: space-between;
    justify-content: space-around;
}
.left-side ul{
    padding-right: 10px;
}
  .mid-section{
    padding: 100px;
    text-align: center;
  }
  .main-head{
    padding-left: 30px;
    font-size: 40px;
    color: white;
  }
  .box{
    width: 400px;
    height: 40px;
    font-size: large;
    border-radius: 9px;
  }
  .mid-section button {
    background-color: #2196F3;
    width: 50px;
    height: 50px;
    border-radius: 9px;
    font-size: small;
    color: white;
  } /* Blue */
  .blue-btn:hover {background: #0b7dda;}
  
.botm-section{
    background-color: #232F3A;
    display: flex;
  
  }
  .btm-h1{
    color: white;
    text-transform: uppercase;
    padding-left: 80px;
  
  }
  .sign-up{
    background-color: #04AA6D;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    font-size: smaller;
    font-weight: bold;
    color: white;
    margin-top: 15px;
    margin-left: 20px;
  
  }
  .btm-h2{
    color: white;
    float: right;
    padding-left: 600px;
  }
  .line{
    background: transparent;
  }
  .list-section{
    background-color: #232F3A;
    display: flex;
    color: white;
  
  }
  .list{
    padding-left: 90px;
  }
  .head{
    font-weight: bolder;
  }
  .fa {
    padding: 10px;
    font-size:medium;
    border-radius: 35px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .icon{
    padding-left: 190px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
   /* background: #3B5998;*/
    color: white;
  }
  
  .fa-twitter {
   /* background: #55ACEE;*/
    color: white;
  }
  .fa-instagram {
   /* background: #125688;*/
    color: white;
  }
  .fa-snapchat-ghost {
   /* background: #fffc00;*/
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  .btn-like{
    background-color: #2196F3;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    font-size: xx-small;
    font-weight: bold;
    color: white;
    display: block;
    margin-top: 50px;
    margin-left: -130px;
  }